body{
    background-color: gray;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}


div{
    display: flex;
}


.main{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.inner::before{
    content:'';
    position: absolute;
    height: 350px;
    width: 250px;
    top: -20px;
    left: -20px;
    background-color: black;
    z-index: -1;
    border-top-left-radius: 20px;
    background: linear-gradient(45deg, rgba(0,212,255,1), rgba(9,9,121,1) , rgba(0,212,255,1));
    
}

.inner::after{
    content:'';
    position: absolute;
    height: 350px;
    width: 250px;
    bottom: -20px;
    right: -20px;
    background-color: black;
    z-index: -1;
    border-bottom-right-radius: 20px;
    background: linear-gradient(45deg, rgba(0,212,255,1), rgba(9,9,121,1) , rgba(0,212,255,1));
    
}

.inner{
    
    position: relative;
    background-color: #f1f1f1;
    align-self: center; 
    border-radius: 0.5rem;    
    width: 80vw;
    
    flex-direction: column;
    padding : 0 2em ;.  

    

}

h1{
    font-size: 5vw;
    color: #333;
}

.col{
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding-left: 5vw;
}

.text{
    font-size: 1.5rem;
    color: #333;
    flex-direction: column;
    padding-left: 5vw;
    border-left: solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

a{
    text-decoration: none;
    color :black

}

.reseaux{
    flex-direction: row;
    display: flex;
}

.top{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: ;


}

li{
    list-style-type: none;
}
.reseaux li{
    list-style-type: none ;
}