body{
    background-color: #1d1d20;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color : #d1d1d1;
    padding : 10vh 20px
}


div{
    display: flex;
}




.inner::before{
    content:'';
    position: absolute;
    height: 350px;
    width: 250px;
    top: -20px;
    left: -20px;
    background-color: black;
    z-index: -1;
    border-top-left-radius: 20px;
    background: linear-gradient(45deg, rgba(0,212,255,1), rgba(9,9,121,1) , rgba(0,212,255,1));
    
}

.inner::after{
    content:'';
    position: absolute;
    height: 350px;
    width: 250px;
    bottom: -20px;
    right: -20px;
    background-color: black;
    z-index: -1;
    border-bottom-right-radius: 20px;
    background: linear-gradient(45deg, rgba(0,212,255,1), rgba(9,9,121,1) , rgba(0,212,255,1));
    
}

.inner{
    
    position: relative;
    background-color: #1d1d20 ;
    align-self: center; 
    border-radius: 0.5rem;  
    flex-direction: column;
    padding : 0 0 ;  

}

h1{
    font-size: 6vw;
    font-weight: 200;
}

h2{
    font-size: 2em;
    font-weight: 200;
}

.col{
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding-left: 5vw;
}

.text{
    font-size: 1.5rem;
    flex-direction: column;
    padding-left: 3vw;
    border-left: solid rgba(0,212,255,1);
    font-size : 1rem;
}

a{
    text-decoration: none;
    color: #d1d1d1;
    transition: all 0.1s ease-in-out;

}

a img{
    width: 50px;
    height:50px;
}

a img:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
a:hover{
    font-size: larger;
    
}

.reseaux{
    flex-direction: row;
    display: flex;
}

.top{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

li{
    list-style-type: none;
    overflow: hidden;
    
}


.reseaux li{
    padding: 0 1em;
}


.top{
    
    overflow: hidden;
}

.projects_list{
    overflow: hidden;
}

.bottom{
    display: flex;
    justify-content: right;
}

.projects_list li{
    position : relative ;
}

.projects_list li::after{
    position : absolute;
    height: 10px;
    background-color: red;
    z-index: 5;
    bottom: -50px;
}