body{
    background-color: gray;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}


div{
    display: flex;
}

.main{
    background-color: #f1f1f1;
    justify-content:space-evenly;
    align-self: center; 
    border-radius: 0.5rem;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    padding: 2em;

}

.col{
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.text{
    font-size: 1.5rem;
    color: #333;
    flex-direction: column;
    padding-left: 5vw;
    border-left: solid #333;
}

.col.right{
    padding-left: 5vw;
}